---
import { Producto } from "./productos.ts";
const productosRandom = [...Producto].sort(() => Math.random() - 0.5);
---
<section class="lg:max-w-7xl mx-auto">
    <h2 class="font-Protest text-3xl uppercase text-center  pb-5">Bebidas que te pueden gustar</h2>
    <article class="grid lg:grid-cols-6 grid-cols-3 gap-5  ">
        {
            productosRandom.slice(0,6).map(producto => (
                <div class="  shadow-xl rounded-lg p-3 hover:scale-105 transition   duration-200">
                    <img src={producto.img} alt="">
                    <div class="lg:py-3 lg:px-2">
            <p class="text-[#767676] lg:tracking-wider lg:text-[11px] text-[8px] uppercase">
              {producto.marca}
            </p>
            <h4 class="lg:text-base  text-[12px] font-extralight ">{producto.nombre}</h4>
            <h3 class="text-sm lg:text-lg font-semibold text-[#717171]">S/ {producto.precio}</h3>

            <button class="mt-4 w-full border-[1px] lg:h-10 border-black font-Protest hover:bg-red-600 hover:text-white transition hover:border-none">
              <a class="text-sm" href={`productoDetalle?id=${producto.id}`}>Comprar</a>

            </button>
          </div>
                </div>
            ))
        }
    </article>
    
</section>

