<div id="detalles-producto">

</div>


<script type="module">

    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const idProducto = urlParams.get('id');
    
        const Producto = [
      {
        id: 1,
        nombre: "Gaseosa Inka Cola 1.5L",
        tamaño: "1.5L",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/19996016-450-450/20038203.jpg?v=638017642861700000",
        descripcion: "Inka Cola es una gaseosa de color amarillo dorado, con un sabor dulce y un aroma a hierbas. Es una bebida muy popular en Perú y es conocida por su sabor único.",
        marca: "Coca Cola",
        precio: "12.00",
        categoria: "Gaseosa",
        tipo: "unidad",
      },
      {
        id: 2,
        nombre: "Gaseosa Sprite 500ml",
        tamaño: "500ml",
        img: "https://vegaperu.vtexassets.com/arquivos/ids/159506/7750182000321.jpg?v=637835698058370000",
        descripcion: "Sprite es una gaseosa de limón refrescante y deliciosa. Es una bebida muy popular en todo el mundo y es conocida por su sabor cítrico y burbujeante.",
        marca: "Coca Cola",
        precio: "5.50 ",
        categoria: "Gaseosa",
        tipo: "unidad",
      },
      {
        id: 3,
        nombre: "Gaseosa Fanta 3L",
        tamaño: "3L",
        descripcion: "Fanta es una gaseosa de naranja refrescante y deliciosa. Es una bebida muy popular en todo el mundo y es conocida por su sabor cítrico y burbujeante.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/28872075-450-450/29856.jpg?v=638464012618000000",
        marca: "The Coca-Cola Company",
        precio: "7.90 ",
        categoria: "Gaseosa",
        tipo: "unidad",
      },
      {
        id: 4,
        nombre: "Agua mineral San Luis 1L",
        tamaño: "1L",
        descripcion: "El agua mineral San Luis es una de las marcas más populares de agua mineral en Perú. Es conocida por su sabor fresco y suave, y es una excelente opción para mantenerse hidratado durante todo el día.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/730808-450-450/918448.jpg?v=637479661101500000",
        marca: "San Luis",
        precio: "3.90 ",
        categoria: "agua",
        tipo: "unidad",
      },
      {
        id: 5,
        nombre: "Jugo de naranja Natura 300ml",
        tamaño: "300ml",
        descripcion: "El jugo de naranja Natura es un delicioso y refrescante jugo de naranja natural. Es una excelente fuente de vitamina C y es perfecto para disfrutar en cualquier momento del día.",
        img: "https://www.supermercadosantamaria.com/documents/10180/10504/115851243_G.jpg",
        marca: "Natura",
        precio: "4.50 ",
        categoria: "bebida natural",
        tipo: "unidad",
      },
      {
        id: 6,
        nombre: "Cerveza Pilsen 300ml",
        tamaño: "330ml",
        descripcion: "La cerveza Pilsen es una cerveza rubia y refrescante con un sabor suave y equilibrado. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHEJtONfGbtcO7xC8qTTuIpq4btuKkB_gIvTTFaud9LQ&s",
        marca: "Pilsen",
        precio: "6.00 ",
        categoria: "cerveza",
        tipo: "unidad",
      },
      {
        id: 7,
        nombre: "Gaseosa Coca-Cola Zero 500ml",
        tamaño: "500ml",
        descripcion: "Coca-Cola Zero es una gaseosa sin azúcar y sin calorías con todo el sabor de la Coca-Cola original. Es una excelente opción para aquellos que buscan disfrutar de una bebida refrescante sin preocuparse por las calorías.",
        img: "https://i1.wp.com/tienda.fogo.pe/wp-content/uploads/2021/10/coca-cola-gaseosas-sin-azucar-x-500-ml.png?fit=680%2C680&ssl=1",
        marca: "Coca Cola",
        precio: "6.90 ",
        categoria: "Gaseosa",
        tipo: "unidad",
      },
      {
        id: 8,
        nombre: "Agua con gas San Benedetto 750ml",
        tamaño: "750ml",
        descripcion:"",
        img: "https://yummybazaar.com/cdn/shop/products/9b033e19572f3766cb-bd4f-45c6-8515-a57ca10cf5a9_800x.jpg?v=1695153160",
        marca: "San Benedetto ",
        precio: "4.20 ",
        categoria: "agua",
        tipo: "unidad",
      },
      {
        id: 9,
        nombre: "Jugo de manzana Del Valle 1L",
        tamaño: "1L",
        descripcion: "El jugo de manzana Del Valle es un delicioso y refrescante jugo de manzana natural. Es una excelente fuente de vitamina C y es perfecto para disfrutar en cualquier momento del día.",
        img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgjQs4SpWw1nKiBltA35IV5ZGkEsU9A7-OnSs4LFBC9w&s",
        marca: "Del Valle",
        precio: "7.00 ",
        categoria: "bebida natural",
        tipo: "unidad",
      },
      {
        id: 10,
        nombre: "Cerveza Stout cusqueña 500ml",
        tamaño: "500ml",
        descripcion: "La cerveza Cusqueña es una cerveza negra y robusta con un sabor intenso y complejo. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://bodegamiamiga.com/wp-content/uploads/2024/03/CUSQUENA-NEGRA-e1709679978122.png",
        marca: "Cusqueña",
        precio: "10.90 ",
        categoria: "cerveza",
        tipo: "unidad",
      },
      {
        id: 11,
        nombre: "Gaseosa Pepsi 2L",
        tamaño: "2L",
        descripcion: "Pepsi es una gaseosa refrescante y deliciosa con un sabor único y burbujeante. Es una bebida muy popular en todo el mundo y es conocida por su sabor dulce y refrescante.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/20590618-450-450/20075137.jpg?v=638026274060770000",
        marca: "PepsiCo",
        precio: " 4.99 ",
        categoria: "bebida",
        tipo: "unidad",
      },
      {
        id: 12,
        nombre: "Agua de coco Vita Coco 330ml",
        tamaño: "330ml",
        descripcion: "El agua de coco Vita Coco es una bebida natural y refrescante con un sabor suave y equilibrado. Es una excelente opción para mantenerse hidratado durante todo el día.",
        img: "https://www.siradis.ch/wp-content/uploads/2022/11/Sans-titre-86.png",
        marca: "Vita Coco",
        precio: "5.10 ",
        categoria: "bebida natural",
        tipo: "unidad",
      },
      {
        id: 13,
        nombre: "Cerveza Lager Cristal 330ml",
        tamaño: "330ml",
        descripcion: "La cerveza Cristal es una cerveza rubia y refrescante con un sabor suave y equilibrado. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://vivanda.vtexassets.com/arquivos/ids/182930/417891.jpg?v=637219901341300000",
        marca: "Cristal",
        precio: "22.99 ",
        categoria: "cerveza",
        tipo: "unidad",
      },
      {
        id: 14,
        nombre: "Gaseosa Coca-Cola Light 1L",
        tamaño: "1L",
        descripcion: "Coca-Cola Light es una gaseosa sin azúcar y sin calorías con todo el sabor de la Coca-Cola original. Es una excelente opción para aquellos que buscan disfrutar de una bebida refrescante sin preocuparse por las calorías.",
        img: "https://wongfood.vtexassets.com/arquivos/ids/609339/Gaseosa-Coca-Cola-Sin-Az-car-Botella-1L-1-219875.jpg?v=638089911471500000",
        marca: "Coca Cola",
        precio: "8.90",
        categoria: "bebida",
        tipo: "unidad",
      },
      {
        id: 15,
        nombre: "Agua sin gas San Benedetto 500ml",
        tamaño: "500",
        descripcion: "san Benedetto es una de las marcas más populares de agua mineral en Perú. Es conocida por su sabor fresco y suave, y es una excelente opción para mantenerse hidratado durante todo el día.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/24844514-450-450/20172164.jpg?v=638090214931570000",
        marca: "San Benedetto",
        precio: "3.50",
        categoria: "agua",
        tipo: "unidad",
      },
      {
        id: 16,
        nombre: "Jugo de piña Natura 300ml",
        tamaño: "300ml",
        descripcion: "El jugo de piña Natura es un delicioso y refrescante jugo de piña natural. Es una excelente fuente de vitamina C y es perfecto para disfrutar en cualquier momento del día.",
        img: "https://rantiymarket.pe/wp-content/uploads/2022/03/image-removebg-preview-69.png",
        marca: "Natura",
        precio: "4.00",
        categoria: "bebida natural",
        tipo: "unidad",
      },
      {
        id: 17,
        nombre: "Cerveza IPA Arequipeña 330ml",
        tamaño: "330ml",
        descripcion: "La cerveza Arequipeña es una cerveza rubia y refrescante con un sabor suave y equilibrado. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/2272711-450-450/20199030.jpg?v=637650857119070000",
        marca: "Arequipeña",
        precio: "11.90",
        categoria: "cerveza",
        tipo: "unidad",
      },
      {
        id: 18,
        nombre: "Gaseosa Seven Up 1.5L",
        tamaño: "1.5L",
        descripcion: "Seven Up es una gaseosa refrescante y deliciosa con un sabor único y burbujeante. Es una bebida muy popular en todo el mundo y es conocida por su sabor dulce y refrescante.",
        img: "https://wongfood.vteximg.com.br/arquivos/ids/501979-1000-1000/7UP-X-1-5-LT-NO-RETORNABLE-1-4162.jpg?v=637740850300300000",
        marca: "PepsiCo",
        precio: "7.20",
        categoria: "bebida",
        tipo: "unidad",
      },
      {
        id: 19,
        nombre: "Agua de manantial Evian 750ml",
        tamaño: "750ml",
        descripcion:"El agua de manantial Evian es una de las marcas más populares de agua mineral en Perú. Es conocida por su sabor fresco y suave, y es una excelente opción para mantenerse hidratado durante todo el día.",
        img: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQfiTFLyJ8fOg1vCBcGKSuNlxZkUuHD26JfXpiH_Qyrw&s",
        marca: "Evian",
        precio: "10.90 ",
        categoria: "agua",
        tipo: "unidad",
      },
      {
        id: 20,
        nombre: "Té verde Liption 500ml",
        tamaño: "500ml",
        descripcion: "El té verde Lipton es una bebida natural y refrescante con un sabor suave y equilibrado. Es una excelente opción para mantenerse hidratado durante todo el día.",
        img: "https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00750103130237L.jpg?odnHeight=612&odnWidth=612&odnBg=FFFFFF",
        marca: "Lipton",
        precio: "6.10 ",
        categoria: "bebida natural",
        tipo: "unidad",
      },
      {
        id: 21,
        nombre: "Cerveza Pale Ale Barena 500ml",
        tamaño: "500ml",
        descripcion: "La cerveza Barena es una cerveza rubia y refrescante con un sabor suave y equilibrado. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://media.freshmart.pe/products/87598.png",
        marca: "Barena",
        precio: "9.90",
        categoria: "cerveza",
        tipo: "unidad",
      },
      {
        id: 22,
        nombre: "Gaseosa Coca-Cola Sixpack 500ml",
        tamaño: "6x500ml",
        descripcion: "Coca-Cola es una gaseosa refrescante y deliciosa con un sabor único y burbujeante. Es una bebida muy popular en todo el mundo y es conocida por su sabor dulce y refrescante.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/24844505-1000-1000/20035109.jpg?v=638090214649600000",
        marca: "Coca Cola",
        precio: "25.80 ",
        categoria: "bebida",
        tipo: "paquete",
      },
      {
        id: 23,
        nombre: " Cerveza Pilsen Sixpack 330ml",
        tamaño: "6x330ml",
        descripcion: "La cerveza Pilsen es una cerveza rubia y refrescante con un sabor suave y equilibrado. Es una de las cervezas más populares en Perú y es perfecta para disfrutar en cualquier ocasión.",
        img: "https://plazavea.vteximg.com.br/arquivos/ids/19675635-512-512/20055168.jpg",
        marca: "Pilsen",
        precio: "30.90",
        categoria: "cerveza",
        tipo: "paquete",
      },
      {
        id: 24,
        nombre: " Gaseosa Tripack Seven Up + Concordia + Pepsi 3L",
        tamaño: "3L",
        descripcion: "Seven Up es una gaseosa refrescante y deliciosa con un sabor único y burbujeante. Es una bebida muy popular en todo el mundo y es conocida por su sabor dulce y refrescante.",
        img: "https://images.rappi.pe/products/86ca4a2e-1a43-4204-8720-943e414914c3.png",
        marca: "PepsiCo",
        precio: "20.50",
        categoria: "bebida",
        tipo: "paquete",
      },
    ];
      
        // Función para encontrar el producto por su ID
        function encontrarProductoPorId(id) {
            return Producto.find(producto => producto.id === parseInt(id));
        }
    
        // Función para mostrar los detalles del producto
        function mostrarDetallesProducto(producto) {
            const detallesProducto = document.getElementById('detalles-producto');
            if (producto) {
                const detallesHTML = ` <div class="w-auto  ">
    <article class= "flex flex-col lg:flex-row py-16 lg:py-32 justify-center  gap-8">
       <div class="lg:flex flex-col gap-5 hidden ">        
        <img class="w-24 hover:scale-105 transition rounded-md  border-black border-[1px] p-2" src= "${producto.img}" alt="">
        <img class="w-24 hover:scale-105 transition rounded-md active:border-black border-[1px] p-2 " src= "${producto.img}" alt="">
        <img class="w-24 hover:scale-105 transition rounded-md active:border-black border-[1px] p-2 " src= "${producto.img}" alt="">
       </div>
         <div class="w-full    lg:w-[45%] ">
           <img class=" p-2" src= "${producto.img}" alt="">
         </div>
         <div class="flex flex-col py-9 text-center  gap-8  ">
            <div>
                <h2 class=" font-Protest   text-2xl tracking-wide uppercase lg:text-3xl">${producto.nombre}</h2>
                <p class="font-light tracking-wide text-lg text-gray-400">${producto.marca}</p>
                <p class="font-light text-xl" >${producto.tamaño}</p>
                <h3 class="text-2xl">$${producto.precio}</h3>
            </div>
            <button class="py-2 px-6 border-black border-[1px] mx-7 lg:mx-0 font-Protest hover:bg-red-600 text-lg uppercase hover:text-white hover:border-red-900 transition hover:scale-105">Añadir al carrito</button>
             <div class="flex flex-col gap-9">
                <div class="flex flex-col gap-1 items-center lg:items-start">
                    <h2 >Descripcion:</h2> 
                    <p class="max-w-64 text-gray-700 text-xs text-wrap">${producto.descripcion}</p>
                </div>
                
                <div class="text-center flex justify-center items-center text-lg">
                    <h3 class="font-Protest border-b-2 border-red-600">Entrega Rapida y Segura</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="icon icon-tabler icons-tabler-outline icon-tabler-car-suv"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 17a2 2 0 1 0 4 0 2 2 0 0 0-4 0m11 0a2 2 0 1 0 4 0 2 2 0 0 0-4 0M5 9l2-4h7a2 2 0 0 1 2 2l1 2h3a2 2 0 0 1 2 2v3M10 9V5M2 7v4"/><path d="M22 14a5 5 0 0 0-4-2 5 5 0 0 0-4 2h-3a5 5 0 0 0-8 0"/><path d="M5 12V9h13"/></svg>
                </div>
            </div>
           
         </div>
    </article>
</div>

                `;
                detallesProducto.innerHTML = detallesHTML;
            } else {
                detallesProducto.innerHTML = '<p>Producto no encontrado</p>';
            }
        }
    
        // Llamada a las funciones para encontrar y mostrar el producto con el ID especificado
        const productoEncontrado = encontrarProductoPorId(idProducto);
        mostrarDetallesProducto(productoEncontrado);
    });
    
    
        </script>