---
import { Producto } from "./productos.ts";

---
<section class=" h-auto">
 <div class="grid lg:grid-cols-5 grid-cols-3  gap-5 ">
    {
        Producto.map(({ id,nombre, img, marca, precio }) => (
          <article id="articulo" class=" overflow-hidden  rounded-lg p-3  bg-white shadow-lg flex flex-col justify-evenly">
            <img class="" src={img} alt="" />
            <div class="lg:py-3 lg:px-2">
              <p class="text-[#767676] lg:tracking-wider lg:text-[11px] text-[10px] uppercase">
                {marca}
              </p>
              <h4 class="lg:text-base   text-[16px] font-extralight ">{nombre}</h4>
              <h3 class="text-base lg:text-lg font-semibold text-[#717171]">S/ {precio}</h3>
            </div>
            <button class="mt-4 py-1  lg:py-0 w-full border-[1px] lg:h-10 border-black font-Protest ">
                <a class="lg:text-base text-[15px]" href={`productoDetalle?id=${id}`}>Comprar</a>
  
              </button>
          </article>
        ))
      }
 </div>

</section>
<style>
  #articulo:hover img{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out; 

  }
  #articulo:hover button{
    background-color: #f00;
    color: #fff;
    border: none;
    transition: all 0.5s ease-in-out; 
  }
  #articulo:hover p{
    color: #f00;
  }

  
</style>
