---
import { Producto } from "./productos.ts";

---

<section class="font-Amatic mb-4" >
  <h1 class="font-Protest text-3xl pl-3 py-4  lg:py-2 text-center lg:text-start uppercase">Refresca tu vida</h1>
  <div id="art" class="grid lg:grid-cols-6 grid-cols-2 gap-5 lg:max-w-7xl mx-auto ">
    {Producto.map(({ id, nombre, img, marca, precio, categoria }) => (
    categoria === "agua" && (
    <article id="articulo" class=" hidden  rounded-lg p-3 hover:scale-105 transition   duration-200 ">
          <img class="" src={img} alt="" />
          <div class="lg:py-3 lg:px-2">
            <p class="text-[#767676] lg:tracking-wider lg:text-[11px] text-[10px] uppercase">
              {marca}
            </p>
            <h4 class="lg:text-base   text-[16px] font-extralight ">{nombre}</h4>
            <h3 class="text-base lg:text-lg font-semibold text-[#717171]">S/ {precio}</h3>

            <button class="mt-4 py-1  lg:py-0 w-full border-[1px] lg:h-10 border-black font-Protest hover:bg-red-600 hover:text-white transition hover:border-none">
              <a class="lg:text-base text-[15px]" href={`productoDetalle?id=${id}`}>Comprar</a>

            </button>
          </div>
        </article>
    )
  ))}
  </div>
</section>
<script>
  const Articulos = document.querySelectorAll('#articulo');
  const delay = 360; 
  
  window.addEventListener('scroll', () => {
    if (Articulos.length > 0) {
      Articulos.forEach((Articulo, index) => {
        const delayForArticle = index * delay;
        setTimeout(() => {
          if (window.scrollY >= 840) { 
            Articulo.classList.add('animate-fade-in-up');
            Articulo.classList.remove('hidden');
          } 
        }, delayForArticle);
      });
    }
  });
</script>

