---
import { Producto } from "./productos.ts";

---

<section class="font-Amatic mb-4" >
  <h1>Productos</h1>
  <div class="grid lg:grid-cols-6 grid-cols-3 gap-5 lg:max-w-7xl mx-auto">
    {
      Producto.slice(0, 5).map(({ id,nombre, img, marca, precio }) => (
        <article class="shadow-xl rounded-lg p-3  ">
          <img class="hover:scale-110 transition  duration-500" src={img} alt="" />
          <div class="lg:py-3 lg:px-2">
            <p class="text-[#767676] lg:tracking-wider lg:text-[11px] text-[8px] uppercase">
              {marca}
            </p>
            <h4 class="lg:text-base  text-[12px] font-extralight ">{nombre}</h4>
            <h3 class="text-sm lg:text-lg font-semibold text-[#717171]">S/ {precio}</h3>

            <button class="mt-4 w-full border-[1px] lg:h-10 border-black font-Protest hover:bg-red-600 hover:text-white transition hover:border-none">
              <a class="text-sm" href={`productoDetalle?id=${id}`}>Comprar</a>

            </button>
          </div>
        </article>
      ))
    }
    <article class="shadow-xl hover:scale-105 flex flex-col justify-center items-center transition rounded-lg p-3 bg-cover bg-no-repeat brightness-50" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Soft_drink_shelf_2.jpg');">
      <h2 class="text-lg font-black cursor-default text-white">Ver catalogo</h2>
     <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class=" hover:text-red-600  icon icon-tabler icons-tabler-outline icon-tabler-arrow-right"><path stroke="none" d="M0 0h24v24H0z"/><path d="M5 12h14m-6 6 6-6m-6-6 6 6"/></svg></a> 
    </article>
  </div>
</section>
