---
const StyleArticle="  overflow-hidden  ";
const StyleImg=" w-full h-full object-cover   trasition duration-500 ease-in-out ";
import {Categorias} from "../sections/categoria.js";
---
<section class="grid grid-cols-3 gap-4  lg:grid-cols-3 lg:h-64 h-56  my-3 mx-3  lg:mx-0">
   {
         Categorias.map((categoria)=>{
              return(
                <article class={StyleArticle}>
                      <a href={`/CategoriaProducto?id=${categoria.id}`}>
                      <img class={StyleImg} src={categoria.img} alt={`Imagen de ${categoria.nombre}`}/>
                  </a> 
                </article>
              )
         })
   }
       
</section>

<style>

article:hover img {
    transform: scale(1.1);
}

</style>
